.partners-section {
    margin: 20px 0;
}

.partners-section h2 {
    font-size: 24px;
    margin-bottom: 24;
    color: #140a82;
}

.icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners-icons {
    width: 50px;
    height: auto;
    margin: 0 10px;
}