<div class="partners-section">
    <h2>Nos Partenaires</h2>
    <div class="icons-container">
        <img src="../../assets/logo-partner.png" alt="Icon 1" class="partners-icons">
        <img src="../../assets/logo-partner.png" alt="Icon 2" class="partners-icons">
        <img src="../../assets/logo-partner.png" alt="Icon 3" class="partners-icons">
        <img src="../../assets/logo-partner.png" alt="Icon 4" class="partners-icons">
        <img src="../../assets/logo-partner.png" alt="Icon 5" class="partners-icons">
        <img src="../../assets/logo-partner.png" alt="Icon 6" class="partners-icons">
        <img src="../../assets/logo-partner.png" alt="Icon 7" class="partners-icons">
    </div>
</div>