ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid white;
    background-color: white;
}

li {
    float: right;
}

li a {
    display: block;
    color: #140a82;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not() {
    background-color: #ddd;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.logo {
    max-width: 80px;
}

.logo img {
    width: 100%;
}